
/*....................................................我的圈子左侧二级折叠菜单style（暂不用IE6不兼容）...........................................*/  
@charset "utf-8";
/* CSS Document */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;}

.accordion li {
	list-style: none;
}

/* Layout & Style */

.accordion li > a {
	display: block;
	position: relative;
	min-width: 110px;
	padding: 0 10px 0 40px;
	height: 32px;

	color:#000;
	font: bold 12px/32px Arial, sans-serif;
	text-decoration: none;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);

	background: #ededed;
	background: -moz-linear-gradient(top,  #ededed 0%, #c8c6c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#c8c6c6));
	background: -webkit-linear-gradient(top,  #ededed 0%,#c8c6c6 100%);
	background: -o-linear-gradient(top,  #ededed 0%,#c8c6c6 100%);
	background: -ms-linear-gradient(top,  #ededed 0%,#c8c6c6 100%);
	background: linear-gradient(top,  #ededed 0%,#c8c6c6 100%);

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.accordion > li:hover > a,
.accordion > li:target > a,
.accordion > li > a.active {
	color: #3e5706;
	text-shadow: 1px 1px 1px rgba(255,255,255, .2);
	
	/*background: url(../img/active.png) repeat-x;*/
	background: #faebed;
	background: -moz-linear-gradient(top,  #faebed 0%, #f3ccd1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faebed), color-stop(100%,#f3ccd1));
	background: -webkit-linear-gradient(top,  #faebed 0%,#f3ccd1 100%);
	background: -o-linear-gradient(top,  #faebed 0%,#f3ccd1 100%);
	background: -ms-linear-gradient(top,  #faebed 0%,#f3ccd1 100%);
	background: linear-gradient(top,  #faebed 0%,#f3ccd1 100%);	
}

.accordion li > a span {
	display: block;
	position: absolute;
	top: 7px;
	right: 0;
	padding: 0 10px;
	margin-right: 10px;
	
	font: normal bold 12px/18px Arial, sans-serif;
	background: #404247;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
	box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}
.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a span {
	color: #fdfdfd;
	text-shadow: 0px 1px 0px rgba(0,0,0, .35);
	background: #d20c2d;
}

/* Images */

.accordion > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 24px;
	height: 24px;
	margin: 4px 8px;

	background-repeat: no-repeat;
	background-image: url(../img/icons.png);
	background-position: 0px 0px;
}

.accordion li.files > a:before { background-position: 0px 0px; }
.accordion li.files:hover > a:before,
.accordion li.files:target > a:before,
.accordion li.files > a.active:before { background-position: 0px -24px; }

.accordion li.mail > a:before { background-position: -24px 0px; }
.accordion li.mail:hover > a:before,
.accordion li.mail:target > a:before,
.accordion li.mail > a.active:before { background-position: -24px -24px; }

.accordion li.cloud > a:before { background-position: -48px 0px; }
.accordion li.cloud:hover > a:before,
.accordion li.cloud:target > a:before,
.accordion li.cloud > a.active:before { background-position: -48px -24px; }

.accordion li.sign > a:before { background-position: -72px 0px; }
.accordion li.sign:hover > a:before,
.accordion li.sign:target > a:before,
.accordion li.sign > a.active:before { background-position: -72px -24px; }

/* Sub Menu */

.sub-menu li a {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);

	background: #f6f6f6;
	border-bottom: 1px solid #c9c9c9;

	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
}

.sub-menu li:hover a { background: #efefef; }

.sub-menu li:last-child a { border: none; }

.sub-menu li > a span {
	color: #797979;
	text-shadow: 1px 1px 0px rgba(255,255,255, .2);
	background: transparent;
	border: 1px solid #c9c9c9;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sub-menu em {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 14px;
	color: #a6a6a6;
	font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
	display: none;
}

.accordion li:target > .sub-menu {
	display: block;
}



/*....................................................我的圈子鼠标放上去style（暂不用IE6不兼容）...........................................*/  


	.rising_header img{border:0;}
#rising_menu{position:relative; padding:32px 0 0;}
	#rising_menu #navmenu{height:34px; padding:0 5px; position:absolute; top:1px; z-index:100;}
					#navmenu ul {list-style: none; padding: 0px; margin: 0; text-align:center;}
					#navmenu li {float: left;padding: 0px; text-align:center;}
	#rising_menu #kakamenu{height:32px; position:absolute; top:1px; right:1px; z-index:90;}
.navmenu_on,
.navmenu_off{display: block; font-size: 16px; width: 113px; height: 32px; line-height: 34px; cursor: pointer; text-align: center;}
.navmenu_on {color: #ffffff; background:url(../images/gt2.png) bottom left no-repeat;  }
.navmenu_off {color: #2457a8; background:url(../images/Gd2.png) bottom left no-repeat;}

	.navmenu_on a:link, .navmenu_on a:visited, .navmenu_on a:hover,	.navmenu_on a:active, .navmenu_off a:link, .navmenu_off :visited, .navmenu_off a:hover, .navmenu_off a:active{ display:block; width: 113px; height: 32px; cursor: pointer;}

	.navmenu_on a:link, .navmenu_on a:visited, .navmenu_on a:hover, .navmenu_on a:active{color: #fff; text-decoration:none;}

	.navmenu_off a:link, .navmenu_off a:visited, .navmenu_off a:hover, .navmenu_off a:active{color: #616161; text-decoration:none;}

.submenu{font-size:14px; background:url(../images/ee2.png) repeat-x top left;  line-height: 31px; height:auto; min-height:80px; _height:80px; padding:0 15px;color:#000; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin:0px 0px 20px 7px; width:1135px; border-radius:0px 0px 0px 3px;}

.submenu1{font-size:14px; background:url(../images/ee2.png) repeat-x top left;  line-height: 31px; height:auto; min-height:80px; _height:80px; padding:0 15px;color:#000; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin:0px 0px 0px 7px; width:800px; border-right:1px solid #e6e6e6; border-radius:0px 3px 3px 3px; float:left;}
.submenu2{font-size:14px; background:url(../images/ee2.png) repeat-x top left;  line-height: 31px; height:auto; min-height:80px; _height:80px; padding:0 15px;color:#000; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin:0px 0px 0px 7px; width:910px; border-right:1px solid #e6e6e6; border-radius:0px 3px 3px 3px; float:left;}

.submenu1  a:link, .submenu1 a:visited, .submenu1  a:hover, .submenu1  a:active{color: #000; text-decoration:none;}
.submenu  a:link, .submenu a:visited, .submenu  a:hover, .submenu  a:active{color: #000; text-decoration:none;}
.submenu2  a:link, .submenu2 a:visited, .submenu2  a:hover, .submenu1  a:active{color: #000; text-decoration:none;}
.submenu_on{color:#000;}
.subline{font-size:11px;color:#2763A5;padding-top: 0;padding-right: 10px;padding-bottom: 0;padding-left: 10px;}
.none{display:none; text-align:left;}
.sbcss{clear:both; font-size:0; line-height:0; height:0;}

.submenu  a:link, .submenu a:visited, .submenu  a:hover, .submenu  a:active{color: #000; text-decoration:none;}
.submenu_on{color:#000;}
.subline{font-size:11px;color:#2763A5;padding-top: 0;padding-right: 10px;padding-bottom: 0;padding-left: 10px;}
.none{display:none;}
.submenu ul {padding:10px ; width:600px;}
.submenu ul li{ list-style:none; color:#616161; font-size:15px;}
.submenu  .sc{background:url(../images/dg_zjt.png) no-repeat top right; width:60px; float:right;  height:30px; border:none; color:#FFF; font-weight:bold; cursor:pointer;}
.submenu  .sc1{background:url(../images/dg_zjt1.png) no-repeat top right; float:right;   width:80px; height:30px; border:none; color:#FFF; font-weight:bold; cursor:pointer;}

.submenu ul li .span1{ margin-left:70px;}
.submenu ul li .span2{ margin-left:140px;}
.submenu ul li .span3{ margin-left:100px;}
.submenu ul li .span4{ margin-left:110px;}
.submenu ul li .span11{ margin-left:85px;}
.submenu .sselet{height:25px; width:420px; float:right; }
.liShow{display:block;background:while;}
.liHide{display:none;background:blue;}
.liSHidec{margin-left:170px; margin-top:-30px;}
.sbcss{clear:both; font-size:0; line-height:0; height:0;}

/*.submenu a{color:#444;text-decoration: none;}
submenu a:hover{color:#065BC2;text-decoration: none;}
.mwui-switch-btn{
    width:74px;  
    display:block;
    padding:1px;
    background:#f3ccd1;
    overflow:hidden;
    margin-bottom:5px;
    border:1px solid #eda4ad;
    border-radius:18px;
    cursor: pointer;
}
.mwui-switch-btn span{
    width:26px;
    font-size:14px;
    height:15px;
    padding:4px 5px 2px 5px;
    display:block; 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6,endColorstr=#eeeeee,grandientType=1);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#eeeeee));
    background:-moz-linear-gradient(top, #f6f6f6, #eeeeee);
    border-radius:18px;
    float:left;
    color:#ef7786;
    text-align:center; 
} 
.mwui-switch-btn:hover span{
    background:#fff;
}
.mwui-switch-btn span.off{float:right;}
.submenu button{outline:none; margin:-25px 520px 0px; }*/


/*.............................................................我的圈子（圈子信息、成员管理）style............................................................*/  
.fileBot{height:25px; width:80px; }
.jiaoy{ width:723px; padding:30px 0px;  color:#616161; font-size:15px;}
.cy1{  margin-top:-20px;}
.cy1 .cy1left{float:left; padding-left:50px;  font-size:15px;}
 .cy1midde{float:left;background:url(../images/hs9.png) no-repeat; width:227px; height:35px; margin:0px 70px;}
.inpum{width:190px; height:25px; border:none; color:#616161;}
 .bottnm{background:url(../images/fd.png) no-repeat top left; cursor:pointer; width:20px; height:20px; border:none;}
.cy1 .cy1bottom{float:left;}
.cy1 .bottB{background:url(../images/dg_zjt1.png) no-repeat top left;  width:80px; height:30px; border:none; cursor:pointer; color:#FFF; font-weight:bold;}

.cy2{ margin:10px 0px 0px 0px;}
.cy2 table{border:1px solid #bb4150; border-collapse:collapse; font-size:14px; width:700px;}
.cy2 table td{border:1px solid #bb4150; padding:0px 3px; text-align:center;}
.tabletr{ background:url(../images/3754.jpg); height:30px; font-weight:bold; text-align:center;}
/*.tabletr{ background: #cb6d79;
	background: -moz-linear-gradient(top,  #faebed 0%, #cb6d79 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb6d79), color-stop(100%,#cb6d79));
	background: -webkit-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: -o-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: -ms-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: linear-gradient(top,  #faebed 0%,#cb6d79 100%);	 height:30px; font-weight:bold; text-align:center;}*/
.oddrowcolor{
	background: #faebed;
}
.evenrowcolor{
	background-color:#f8f2f3;
}
.zupqQ{ width:700px; height:auto; color:#616161; font-size:15px; }
.zupqQ1{ width:700px; }
.zupqQ .zupQleft{float:left;}
.zupqQ .zupQright{  width:220px; height:28px; border:1px solid #cdcdcd; border-radius:5px; float:left; margin:0px 20px;}
.zupqQ .zupQright .Qinput{width:190px; height:22px; border:none; color:#616161;}
.Qinputed{ width:300px; height:25px; border:1px solid #cdcdcd;}
.Qinputedw{ width:600px; height:25px; border:1px solid #cdcdcd; margin-top:5px;}
.Qinputedj{ width:700px; height:100px; border:1px solid #cdcdcd; margin-top:5px;}
.xizja{margin:10px 0px;}
.xizbt{ float:left; margin-right:10px; height:25px; width:80px; font-weight:bold; color:#b12f2f; cursor:pointer; background:#eeaaaa; border:none; border-radius:3px;}
.xizbt1{ float:right; margin-right:10px; height:20px; width:50px; font-size:13px;  color:#fff; cursor:pointer; background:#ce1c1c; border-radius:3px; border:none;}
.deletBut{ border:none ; background:none; color:#616161; font-size:15px;  cursor:pointer;}


 /*.............................................................我的圈子左侧三级折叠菜单style............................................................*/  

#menu { width:206px; margin:auto;}
	#menu h1 { cursor:pointer; color:#000; font-size:14px; padding:7px 0 9px 10px;  margin-top:0px;  color: #3e5706; 					             text-shadow: 1px 1px 1px rgba(255,255,255, .2);
			/*background: url(../img/active.png) repeat-x;*/
			background:url(../images/zbak.png);
	}
	#menu h1 div{margin-top:1px; float:left; padding-right:4px;}
	#menu h1 .div1{ background:url(../images/wallet_64px.png) no-repeat; height:17px; width:17px;}
	#menu h1 .div2{ background:url(../images/record-sleeve_64px.png) no-repeat; height:17px; width:17px;}
	#menu h1 .div3{ background:url(../images/chat_64px.png) no-repeat; height:17px; width:17px;}
	#menu h1 .div4{ background:url(../images/mail_64px.png) no-repeat; height:17px; width:17px;}
	#menu h1 .div5{ background:url(../images/scissors_64px.png) no-repeat; height:17px; width:17px;}
	#menu h1:hover{
			color:#424b14;
			background:url(../images/zbak1.png);			
	}
	#menu h2 { cursor:pointer; color:#777; font-size:14px; padding:7px 0 7px 20px; border-bottom:#cccccc 1px solid; border-top-color:#FFF; color:#424b14;
			background: #faebed;	}
	#menu h2:hover{background:#FFB9B9;}
	#menu ul { height:170px;border:#E7E7E7 1px solid; background:#ededed; border-top:none;overflow:auto; font-size:14px;}
	#menu ul li {padding:7px 0 7px 20px; list-style:none;}
	#menu ul li:hover{background:#FAA;}
	#menu  div{margin-top:1px; padding-right:4px; float:left;}
	#menu  .div11{ background:url(../images/q5.png) no-repeat; height:17px; width:21px;}
	#menu  .div22{ background:url(../images/q6.png) no-repeat; height:17px; width:21px;}
	#menu  .div33{ background:url(../images/q2.png) no-repeat; height:17px; width:21px;}
	#menu  .div44{ background:url(../images/q3.png) no-repeat; height:17px; width:21px;}
	#menu  .div55{ background:url(../images/q4.png) no-repeat; height:17px; width:21px;}
	#menu  .div66{ background:url(../images/q7.png) no-repeat; height:17px; width:21px;}
	.no { display:none;}
	#menu a{text-decoration:none; color:#606062;}
	#menu h1 a{color:#000; font-weight:bold;}
	#menu h1 a:hover{color:#424b14;}
	#menu a:hover{ color:#000; }
	h1 label {
		top: 7px;
		right: 0;
		padding: 1px 10px;
		margin-right: 10px;
		color:#fff;
		float:right;
		_float:none;
		*float:none;
		_margin-left:50px;
		*margin-left:50px;
		font: normal bold 12px/18px Arial, sans-serif;
		background:#d20c2d;
		
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
	
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
		box-shadow: inset 1px 1px 1px rgba(0,0,0, .2), 1px 1px 1px rgba(255,255,255, .1);
}


 /*.............................................................圈子管理，鼠标放上去显示divstyle............................................................*/ 
#mainmenu_top UL { LIST-STYLE-TYPE: none; padding:0px; margin:0px; }
#mainmenu_top LI { LINE-HEIGHT: 1.5em; }
.hide { DISPLAY: none }
#mainmenu_top UL LI .menuhover { BACKGROUND: url(../images/gt2.png) no-repeat; COLOR: #fff; }
#mainmenu_top UL LI A { MARGIN-TOP: 2px; CURSOR: pointer; PADDING-TOP: 8px; HEIGHT: 20px; text-decoration: none; }
#mainmenu_top { width:100%; HEIGHT: 34px; display:block; overflow:hidden; }
#mainmenu_top UL LI { FLOAT: left }
#mainmenu_top UL LI A { WIDTH: 113px; height:auto; height:34px; DISPLAY: block; COLOR: #616161; padding-bottom:3px; font-size:15px; TEXT-ALIGN: center; BACKGROUND: url(../images/gt1.png) no-repeat; }

#mainmenu_bottom { width:950px; height:550px; line-height:32px; display:block; overflow:hidden; BACKGROUND:url(../images/ee2.png) repeat-x top left; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6; border-radius:0px 3px 3px 3px;  margin:0px 0px 20px 2px; }
.sbfsztr{background:url(../images/3754.jpg) repeat-x top left; height:30px; font-weight:bold; text-align:center;}

/*圈子信息*/
.Qx1{color:#616161; font-size:16px; padding:10px 0px 0px 0px; width:723px;   height:auto; }
.Qx1 .Qx11{ float:left; text-align:right;  width:100px; }
.Qx1 .Qx12{ float:left; margin-left:5px; text-align:left; *width:80%; }
.Qx1 .Qx121{ float:left; margin-left:5px;  text-align:left;}
.Qx1 .Qx122{ float:left; margin-left:5px; text-align:left; }
.Qx1 .Qx123{ float:left; margin-left:5px; text-align:center;width:200px; }
.Qx1 .Qx112{ float:left; margin-left:5px;  }
.Qx1 .Qx113{ float:left; margin-left:5px;  }
.Qx1 .Qx114{ float:left; margin-left:5px;  }
.Qx1  .inputNam{height:22px; width:300px; margin-top:0px;}
.Qx1  .inputNam1{height:22px; width:190px; margin-top:0px;}
.Qx1  .textarea{height:80px; width:500px; margin-top:0px; outline:none;}
.Qx1  .textareaq{height:140px; width:370px; margin-top:0px; outline:none;}
.Qx1 .Qx13{ float:left; margin-left:5px; text-align:left;}
.Qx1 .Qx14{ float:left; margin-left:5px;  text-align:left; }

.Qx1 button{outline:none;}

/*.submenus{font-size:14px; background:url(../images/ee2.png) repeat-x top left;  line-height: 31px; height:580px; padding:0 15px;color:#000; border-left:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; border-right:1px solid #e6e6e6; margin:0px 0px 20px 7px; width:900px; border-radius:0px 3px 0px 3px;}
.submenus  a:link, .submenus a:visited, .submenus  a:hover, .submenus  a:active{color: #000; text-decoration:none;}
.submenus_on{color:#000;}
.submenus a{color:#444;text-decoration: none;}
submenus a:hover{color:#065BC2;text-decoration: none;}*/
.mwui-switch-btn{
    width:74px;  
    display:block;
    padding:1px;
    background:#ce1c1c;
    overflow:hidden;
    margin-bottom:5px;
    border:1px solid #eda4ad;
    border-radius:18px;
    cursor: pointer;
}
.mwui-switch-btn span{
    width:26px;
    font-size:14px;
    height:15px;
    padding:4px 5px 2px 5px;
    display:block; 
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f6f6f6,endColorstr=#eeeeee,grandientType=1);
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#eeeeee));
    background:-moz-linear-gradient(top, #f6f6f6, #eeeeee);
    border-radius:18px;
    float:left;
    color:#ce1c1c;
    text-align:center; 
} 
.mwui-switch-btn:hover span{
    background:#fff;
}
.mwui-switch-btn span.off{float:right;}
.submenus button{outline:none; }
/*.tabletr{ background: #cb6d79; 
	background: -moz-linear-gradient(top,  #faebed 0%, #cb6d79 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb6d79), color-stop(100%,#cb6d79));
	background: -webkit-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: -o-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: -ms-linear-gradient(top,  #faebed 0%,#cb6d79 100%);
	background: linear-gradient(top,  #faebed 0%,#cb6d79 100%);	 height:30px; font-weight:bold; text-align:center;}*/


/*重设圈主*/
.Qxq{color:#616161; font-size:15px; padding:10px 0px 0px 0px; width:580px;  height:auto;}
.Qxq .Qx11{ float:left; text-align:right;  width:100px;}
.Qxq .Qx12{ float:left; margin-left:25px; width:400px; text-align:left; }
.Qxq  .inputNam{height:22px; width:300px; margin-top:0px;}
.Qxq  .inputNam1{height:22px; width:190px; margin-top:0px;}
.Qxq  .textarea{height:70px; width:600px; margin-top:0px; outline:none;}
.Qxq  .textareaq{height:140px; width:370px; margin-top:0px; outline:none;}
.Okbutq{background:#646464;  color:#fff; border-radius:3px; width:70px; height:25px; color:#fff; font-weight:bold; border:none; cursor:pointer; font-size:14px; margin-left:20px; margin-bottom:10px;}

/*通知公告*/
.tztable{border:1px solid #d20c2d; border-collapse:collapse; text-align:center;}
.tztable td{border:1px solid #d20c2d; padding:2 3px;}
.tztable td a{color:#616161;}
.Qx1{ margin:0px 0px 0px 0px;}
.Qx1 table{border:1px solid #cd1e34; border-collapse:collapse; font-size:14px; width:800px;}
.Qx1 table td{border:1px solid #cd1e34; padding:0px 3px; text-align:center; color:#616161;}
.Qx1 table tr{border:1px solid #cd1e34;}
.Qx1 .qxtbut1{background:none; font-size:14px; border:none; color:#3CC; font-weight:bold; padding-left:10px;}

.cyInfo{ margin:10px 0px 0px 0px;}
.cyInfo table{border:1px solid #cd1e34; border-collapse:collapse; font-size:14px; width:680px; margin-left:20px;}
.cyInfo table td{border:1px solid #cd1e34; padding:0px 3px; text-align:center; color:#616161;}
.cyInfo table tr{border:1px solid #cd1e34;}

.zjButon{ float:right; margin-right:10px;height:25px; width:80px; font-weight:bold; color:#fff; cursor:pointer; background:#646464; border:1px solid #646464; border-radius:3px;}

.deletBut1{ border:none ; background:none; color:#616161; font-size:15px;  cursor:pointer;}
.Qx12xy {float:left; width:670px; margin-left:25px; text-align:right; border:1px solid #639;}




.quanz{background:#eeaaaa; width:90px; height:25px;  color:#b12f2f; border-radius:3px; font-weight:bold; border:none; cursor:pointer; font-size:15px;}
.Okbut{background:#ce1c1c;  color:#fff; border-radius:3px; width:110px; height:33px; border:none; cursor:pointer; font-size:16px; margin-left:20px; margin-bottom:10px;}
.Okbutqx{background:#797878;  color:#fff; border-radius:3px; width:113px; height:33px;font-weight:bold; border:none; cursor:pointer; font-size:16px; margin-left:20px; margin-bottom:10px;}


.Upquanz{ background:#ea8b8b; width:90px; height:25px;  color:#b12f2f; border-radius:3px; font-weight:bold; border:none; cursor:pointer; font-size:15px;}
.Offquanz{ background:#eeaaaa; width:90px; height:25px;  color:#b12f2f; border-radius:3px; font-weight:bold; border:none; cursor:pointer; font-size:15px;}

.UpOkbut{  background:#880000; cursor:pointer;  color:#fff; border-radius:3px; width:110px; height:33px;border:none; font-size:16px; margin-left:20px; margin-bottom:10px;}
.OffOkbut{ background:#ce1c1c;cursor:pointer;  color:#fff; border-radius:3px; width:110px; height:33px;border:none; font-size:16px; margin-left:20px; margin-bottom:10px;}

.UpOkbutqx{  background:#aaaaaa; font-weight:bold;cursor:pointer;  color:#fff; border-radius:3px; width:113px; height:33px;border:none; font-size:16px; margin-left:20px; margin-bottom:10px;}
.OffOkbutqx{ background:#797878;font-weight:bold;cursor:pointer;  color:#fff; border-radius:3px; width:113px; height:33px;border:none; font-size:16px; margin-left:20px; margin-bottom:10px;}

.Upxizbt{  background:#ea8b8b; float:left; margin-right:10px; height:25px; width:80px; font-weight:bold; color:#b12f2f; cursor:pointer; border:none; border-radius:3px;}
.Offxizbt{ background:#eeaaaa;float:left; margin-right:10px; height:25px; width:80px; font-weight:bold; color:#b12f2f; cursor:pointer; border:none; border-radius:3px;}

.Upxizbt1{  background:#880000;  float:right; margin-right:10px; height:20px; width:50px; font-size:13px;color:#fff; border:none; cursor:pointer;  border-radius:3px;}
.Offxizbt1{ background:#ce1c1c; float:right; margin-right:10px;height:20px; width:50px; font-size:13px; border:none; color:#fff; cursor:pointer;border-radius:3px;}


.jzyp{text-align:center;width:28px; height:27px; float:right; padding-top:11px; color:#08617b; margin-right:2px; font-size:10px; overflow: hidden; text-overflow:ellipsis;white-space:nowrap;}


