
.indexMleft div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { margin:0; padding:0; }
.indexMleft fieldset, img { border:0; }
.indexMleft  address, caption, cite, code, dfn, em, strong, th, var, i { font-style:normal; }
.indexMleft  ol, ul { list-style:none; }
.indexMleft  input, select { font-size:12px; }
.indexMleft  h1, h2, h3, h4, h5, h6 { font-size:100%; }
/* clear float */
.cl { clear:both; }
.xclear { *zoom:1;}
.xclear:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
/* float base */
.fl { float:left!important; }
.fr { float:right!important; }
a { color:#333; text-decoration:none; }
a:hover { color:#f50; text-decoration:underline; }
.hd { border:1px solid #e6e9ed; background:url(../images/btn.png) repeat-x left -689px; overflow:hidden; height:28px; padding:0 8px; line-height:28px; }
.hd h2 { font:bold 16px/28px arial; color:#333; float:left; }
.bd { border:1px solid #e6e9ed; border-top:0;  }
/* framework */
.w220 { width:117px;}
/* category */
.category{margin-bottom:10px;}
.category h2{margin-left:10px;}
.category .bd ul li { position:relative; width:117px; float:left; height:30px; }
.category .bd ul li a.txt { padding-left:20px; display:block; width:95px; height:29px; line-height:29px; z-index:3; border-bottom:1px solid #e6e9ed; background:#fff url(../images/icon.png) no-repeat 10px -412px; color:#333;  }
.category .bd ul li ul { display:none; }
.category .bd ul li.select a.txt { background:#f6f9fb url(../images/icon.png) no-repeat 10px -414px; position:absolute; width:96px; color:#09c; font-weight:bold; text-decoration:none; }
.category .bd ul li.select ul { display:block; z-index:2; padding:0 10px 8px; position:absolute; left:115px; top:-1px; background:#f6f9fb; border:1px solid #e6e9ed; box-shadow:2px 2px 5px rgba(150,150,150,0.6); }
.category .bd ul li ul li { background:url(../images/icon.png) no-repeat 3px -447px; padding-left:10px; width:120px; height:25px; line-height:25px; border-bottom:1px dashed #d1dbe8; font-size:14px;}
.category .bd h2{font-size:13px; color:#000; padding-left:5px;}
